<!DOCTYPE html>
<html>
    <head>
        <title>Techademy</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        
</head>

<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../images/logo1.jpg">
            </div>
            <ul>
                <li><a href="#">Contact Us</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.profile') }}">Home</a></li>
                {% endif %}
                            {% if not current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.login') }}">
                                Login
                            </a></li>
                            <li><a href="{{ url_for('auth.signup') }}">
                                Sign Up
                            </a></li>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}" class=>
                                Logout
                            </a></li>
                {% endif %}

            </ul>
        </div>
        <div class="title">
            <h1>TechAdmey</h1>
            <h2>Eat.Sleep.Code</h2>
        </div>

    </header>
</body>
</html>