<!DOCTYPE html>
<html>
    <head>
        <title>Techademy Login</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../images/logo1.jpg">
            </div>
            <ul>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>TechAdmey</h1>
            <h2>Eat.Sleep.Code</h2>
        </div>
    </header>
    <div class="loginbox">
        <img src="../images/member login.png" class="avatar">
        <h1>Login</h1>
        <form>
            
            <input type="email" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <div>
            <a href="#">Forget Password?</a><br>
            <a href="#">Dont have an account?</a>
        </div>
        </form>
    </div>
</body>
</html>