<!DOCTYPE html>
<html>
    <head>
        <title>Techademy Sign up </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../images/logo1.jpg">
            </div>
            <ul>
                <li><a href="login.html">Log in</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>TechAdmey</h1>
            <h2>Eat.Sleep.Code</h2>
        </div>
    </header>
    <div class="container">
        <img src="../images/member login.png" class="avatar">
        <h1>Signup</h1>
        <form>
            <input type="email" name="email" placeholder="xyz@domain.com">
            <input type="text" name="name" placeholder="Name">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Submit">
            <div>
            <a href="#">Already have an account? Sign in</a><br>
        </div>
        </form>
    </div>
</body>
</html>